.login__container > img{
    object-fit: contain;
    height : 100px;
    margin-bottom: 40px;
}

.login  {
    height: 100vh;
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    place-items: center;
}


.login__container > button {
    margin-top : 50px;
    text-transform: inherit !important ;
    background-color: rgb(63, 209, 63) !important;
    color : white
}

.login__container  {
    padding : 100px;
    text-align:  center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);    
}